.navBar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
}

.links {
    display: flex;
    gap: 20px;
}

.loginButton {

    height: 30px !important;
    border-radius: 50px !important;
}